server:
  port: 8080

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

springdoc:
  packagesToScan: uk.gov.hmcts.reform.cron-trigger.controllers
  writer-with-order-by-keys: true

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  main:
    web-application-type: none
  config:
    import: "optional:configtree:/mnt/secrets/sscs/"
  application:
    name: SSCS Nightly Event Trigger

idam:
  api:
    url: ${IDAM_API_URL:http://rse-idam-simulator:5000}
  s2s-auth:
    url: ${IDAM_S2S_AUTH:http://localhost:4502}
    totp_secret: ${IDAM_S2S_AUTH_TOTP_SECRET:AAAAAAAAAAAAAAAC}
    microservice: ${IDAM_S2S_AUTH_MICROSERVICE:sscs}
  client:
    id: ${IDAM_OAUTH2_CLIENT_ID:sscs}
    secret: ${IDAM_OAUTH2_CLIENT_SECRET}
    redirect_uri: ${IDAM_OAUTH2_REDIRECT_URL}

sscs:
  users:
    system_update_username: ${IDAM_SSCS_SYSTEMUPDATE_USER:system.update@hmcts.net}
    system_update_password: ${IDAM_SSCS_SYSTEMUPDATE_PASSWORD:password}

core_case_data:
  api:
    url: "https://ccd-data-store-api-sscs-tribunals-api-pr-4937.preview.platform.hmcts.net"

azure:
  application-insights:
    instrumentation-key: ${sscs.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

trigger:
  date: ${TRIGGER_DATE:#{null}}
